.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column;
  align-items: center;
  justify-content: center; */
  padding: 20px;
}

.item {
  flex: 1;
  margin: 10px;
  /* border: 1px solid #d3d3d3; */
  padding: 30px 10px;
  /* min-width: 250px; */
  position: relative;
  text-align: center;
}

.itemName {
  height: 60px;
  font-size: 18px;
}

.others {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.others > span:first-child {
}

.other {
  margin-right: 10px;
  cursor: pointer;
}

.other img {
  border-radius: 50%;
}

.other img:hover {
  border-radius: 50%;
}

.other.selected img {
  border: 1px solid #d3d3d3;
  padding: 3px;
  border-radius: 50%;
}

.more {
  position: relative;
  border: 1px solid #d3d3d3;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.more .num {
  position: absolute;
  width: 30px;
  top: 5px;
  left: 2px;
}

.subLevels {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.subLevelItem {
  flex: 1;
  margin: 10px;
  padding: 20px;
  position: relative;
  text-align: center;
}

.subLevelInner:hover {
  /* border: 1px solid #f6f6f6; */
  box-shadow: rgba(34, 34, 34, 0.2) 0px 0px 9px;
}

.subLevelItem img {
  border-radius: 50%;
}
